@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Montserrat+Alternates:wght@300;400&family=Oswald&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-thumb {
  background: #003A91;
  border-radius: 10px;
}